# Dependency directories
node_modules/
jspm_packages/

# Environment variables (CRITICAL: NEVER PUSH THIS)
.env
.env.test
.env.production

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# Temporary Development Scripts
src/make-system-user.js

# IDE folders
.vscode/
.idea/
